<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <form method="post" class="search-container">
        {% csrf_token %}
        <input type="text" name="city" id="citySearch" class="search-bar" placeholder="Enter city..." />
        <button class="search-button" type="submit" id="searchButton">Enter</button>
    </form>

    <div class="weather-info">
        <div class="city-name" id="cityName">
            {{weather_data.city}}
        </div>
        <div class="temperature" id="temperature">
            {{weather_data.temperature|floatformat:1}}°F
        </div>
        <div class="conditions" id="conditions">
            {{weather_data.conditions|title}}
        </div>
    </div>

</body>
</html>